<header>
  <div class="wrap">
    <a href="/">
        <%= image_tag "opt-logo.png", class: "logo", alt: "OPT" %>
    </a>
    <ul class="links">
      <li>
        <%= link_to "De OPT", "opt" %>
      </li>
      <li>
        <%= link_to "Video", "video" %>
        </a>
      </li>
      <li>
        <%= link_to "Instructies", "instructions" %>
      </li>
      <li>
        <%= link_to "Onderzoek", "research" %>
      </li>
      <li>
          <%= image_tag "nl.gif", class: "flag", alt: "Nederlands" %>
          <%= image_tag "en.gif", class: "flag", alt: "English" %>
      </li>
    </ul>
  </div>
</header>
